body { 
    background-color: rgb(238, 234, 234);
    font-family: 'Open Sans', sans-serif;
    margin-left: 40px;
    margin-right: 40px;
}

header {
    height: 300px;
    border: 5px solid rgb(94, 93, 100);
    background-color: lightseagreen;
    
}
header h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 90px;
    text-align: center;
}

nav {
    text-align: center;
    display: block;
    background-color: rgb(144, 167, 144);
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px;
}
.line {
    border: 2px solid #000000;
  }

main h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}
.black-border {
    border: 1px solid black;
    padding: 10px;
}

article, footer {
    padding: 10px;
}
#foto-bart {
    margin-left: 50%;
    margin-right: 50%;
}

footer {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    background-color: #000000;
    color: rgb(238, 234, 234);
}