/* Contact Section */
.contact {
    padding: $textpadding;
  }
  .contact__wrapper .contact {
    display: flex;
    flex-wrap: wrap;
  }
  .contact__form-wrapper,
  .contact__wrapper {
    padding: $textpadding;
  }
  
  .copy-wrapper {
    padding-left: $textpadding;
  }