/* Featured Section */
.featured {
    padding: $textpadding;
    &__wrapper {
        display: flex;
        flex-wrap: wrap;}
}
  
  #featured .featured__image img {
    width: 300px;
  }
  
  .featured__text-featured {
    max-width: 700px;
    text-align: center;
    padding: $textpadding;
    &__text-featured p {
    text-align: justify;
    padding: 30px;
    line-height: 1.4em;}
  }
  